@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.stopwatch {
  text-align: center;
  margin-top: 50px;
  border: 2px solid white;
  padding: 80px;
  width: 30vw;
  height: 30vh;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 0 rgba(255, 255, 255, 0.26);
}

#display {
  font-size: 5em;
  margin-bottom: 10px;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(45deg, #f8d847, #ff5d7d);
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;

  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
  background: rgba(255, 255, 255, 0.26);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.holder {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
